@import "mixins.scss";

// General Stylings

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: $raisin-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

main {
  overflow-x: hidden;
}

.sub-pages {
  .container-fluid {
    padding: 0;

    .inner-hero {
      background-color: $raisin-black;
      overflow: hidden;
      img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        opacity: 0.9;
      }
    }
  }
}

.custom-button {
  @include yellow-btn;

  &:hover,
  &:active {
    @include yellow-btn;
  }
}

.custom-btn-green {
  @include green-btn;
  &:hover,
  &:active {
    @include green-btn;
  }
}

// Nav

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;

  .navbar-brand {
    font-size: 22px;
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
    border: 0;
  }
  .navbar-toggler-icon {
    background-image: url("../images/hamburger.svg");
  }

  // Style used when scrolled
  &.on-scroll {
    background-color: $raisin-black;
    opacity: 0.9;
  }
}

// Hero banner

.hero-banner-container {
  position: relative;
  .hero-banner {
    height: 100vh;
    width: 100%;
    background: $raisin-black;
    overflow: hidden;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.8;
    }
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include breakpoint("desktop") {
      text-align: left;
      left: calc(-288px + 50%);
    }

    @include breakpoint("desktop-large") {
      left: calc(-378px + 50%);
    }

    @media only screen and (min-width: 1400px) {
      left: calc(-465px + 50%);
    }

    h1 {
      font-size: 55px;
      @include breakpoint("medium-device") {
        font-size: 70px;
      }
      @include breakpoint("desktop") {
        font-size: 60px;
      }
    }
    p {
      font-size: 22px;
      @include breakpoint("desktop") {
        font-size: 18px;
      }
    }

    h1,
    p {
      text-shadow: 1px 1px 5px $raisin-black;
    }
  }
}

// About

.about {
  .richtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    flex-direction: column;
    @include breakpoint("desktop") {
      text-align: left;
      flex-direction: row;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 20px;
      @include breakpoint("desktop") {
        margin-bottom: 0;
      }
    }
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

// Sponsors

.sponsors,
.contact {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include breakpoint("desktop") {
      flex-direction: row;
    }

    > div {
      padding: 0;
    }
  }
  .richtext {
    padding: 40px;
    color: white;
    text-align: center;
    @include breakpoint("desktop") {
      text-align: left;
      padding: 0 40px;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 20px;
      @include breakpoint("desktop") {
        margin-bottom: 40px;
      }
    }
  }
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: right;
  }
}

// Testimonials
.testimonials {
  h2 {
    margin-bottom: 80px;
  }
  .testimony {
    .testimonial-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h3 {
        font-size: 20px;
        margin-left: 20px;
      }
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: right;
        border-radius: 20px;
      }
    }
    .testimonial-body {
      p {
        font-size: 14px;
      }
    }
  }
}

.contact {
  .row {
    flex-direction: row-reverse;
  }

  .richtext {
    padding: 40px;
    @include breakpoint("desktop") {
      padding: 0 0 0 115px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .custom-button {
    @include yellow-btn;
    margin-top: 20px;
  }
}

// students

.student-record {
  margin-top: 40px;
  margin-bottom: 40px;

  .custom-btn-green {
    margin-bottom: 20px;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }

  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}

// Login

.signin {
  .hero-banner {
    height: 100vh;
    width: 100%;
    background: $raisin-black;
    overflow: hidden;
    position: relative;
    img {
      height: 100vh;
      width: 100%;
      opacity: 0.5;
      object-fit: cover;
    }
    .form-overlay {
      h1 {
        text-shadow: 1px 1px 5px $raisin-black;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 280px;

      .no-account {
        font-size: 14px;
        text-shadow: 1px 1px 5px $raisin-black;

        a {
          text-decoration: none;
        }
      }

      .error-no-input,
      .error-invalid-format {
        color: $raisin-black;
        font-size: 14px;
        background: $light-red;
        padding: 0 18px 0 15px;
        text-align: left;
        display: none;
        transition: all 0.3s ease-in;
        margin-bottom: 0;

        &.display-error {
          display: inline-block;
        }
      }

      .error-invalid-creds {
        color: $raisin-black;
        font-size: 14px;
        background: $light-red;
        padding: 0 18px 0 15px;
        text-align: left;
        transition: all 0.3s ease-in;
        margin-bottom: 0;
        display: inline-block;
      }

      button {
        width: 100%;
      }
    }
  }
}

// Add Student

.add-student {
  form {
    padding: 40px 0;
    width: 600px;
    margin: 0 auto;

    button {
      margin-top: 20px;
      width: 100%;
    }
  }
}

// footer

footer {
  background-color: $raisin-black;
  color: white;
  height: 35px;

  p {
    font-size: 14px;
  }

  .row {
    div {
      display: flex;
      align-items: center;
      height: 35px;

      p {
        margin: 0;
      }
    }
    div:last-child {
      justify-content: flex-end;
    }
  }
}
